<section data-ng-controller="HomeController">
	<div class="text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
				<img class="img-responsive text-center" src="modules/core/img/brand/sales-factory.jpg" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				The best sales factory of world.
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="#" target="_blank">Login</a>
			</p>
		</div>
	</div>

</section>
